{{ define "main" }}

{{/* -----------------------------------------
     Определяем ссылку "Назад"
------------------------------------------ */}}

{{ $back := "/" }}

{{ with .Parent }}
  {{ $back = .RelPermalink }}
{{ end }}

<div class="container mx-auto px-4 py-8">

  {{ if eq .Type "page" }}
    <a href="{{ $back }}" class="inline-block text-sm mb-4 hover:underline">
      &larr; Назад
    </a>
  {{ end }}

  <header class="mb-6">
    {{ with .Params.image }}
      <figure class="mb-4">
        <img src="{{ . }}" alt="{{ $.Title }}" class="w-full rounded">
      </figure>
    {{ end }}

    <h1 class="text-3xl font-bold mb-4 text-gray-100">{{ .Title }}</h1>

    {{ with .Params.lead }}
      <p class="text-lg leading-relaxed text-gray-200 mb-4">
        {{ . }}
      </p>
    {{ end }}
  </header>

  <div class="prose prose-invert max-w-none text-gray-100">
    {{ .Content }}
  </div>

</div>

{{ end }}
